<html>
<head>
	<title>Beat The King</title>
	<meta name="viewport" content="width=device-width">
	<link rel="stylesheet" type="text/css" href="style.css">
	
</head>
<body>
<div id="background-checkin"></div>
<div id="background-challenge"></div>

<div id="content">
<!-- Begin Checkin -->
	<div id="checkin">
		<div id="checkin-title">Beat The KING! <img src="img/kroon.png"></div>
		<div id="checkin-content">
			<h1>Check-in</h1>
			<p>Visit Beattheking.nl with your mobile phone!</p>
		</div>
	</div>
<!-- End Checkin -->	

<!-- Begin Challenge -->
	<div id="challenge">
		<div id="challenge-title">Challenge!</div>
		<div id="challenge-content">
			<h1>Challenge</h1>
			<p>Welcome <span id="username"></span>!</p>
			<div id="progress"></div>
		</div>
	</div>
<!-- End Challenge -->

<!-- Begin Finish -->
	<div id="finish">
		<div id="finish-title">Finish!</div>
		<div id="finish-content">
			<h1>Finished</h1>
			<p>All data from the challange below!</p>
			<h3>Score: <span id="score"></span></h3>
		</div>
	</div>
<!-- End Finish -->


</div>
<script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="app.js"></script>
</body>
</html>